## 1. What would the output be of these print statements?

Answer:   
world  
Testing Machine Leanring

``` This is cuz the rest are commented out ```

In [45]:
'''
What Would the output be ? 

print("hello")
x = 5
print(x)
'''

print("world")
x = "Machine Leanring"
print("Testing", x)

# print(x)

world
Testing Machine Leanring

## 2. Create A Print Using Fomratting

In [46]:
print("my name is {0}, my age is {1}".format("omar", 22)) # Here it assigns based on index 0 = omar, 1= 22
print("my name is {}, my age is {}".format("omar", 22)) # Here it will assing based on order first element in format assigned to first {} and so on
print("my name is {x}, my age is {y}".format(x = "omar", y = 22)) # Here it assigns based on variable assignment

name = "Oamr"
age = 22
uni = "GUC"

print("my name is {}, my age is {} and studying at the {}".format(name,age,uni)) # Here it will assing based on order but i',m using variables instead

my name is omar, my age is 22
my name is omar, my age is 22
my name is omar, my age is 22
my name is Oamr, my age is 22 and studying at the GUC

## 3. Create some variables and print their types

In [47]:
x = 10 #int
y = 10.5 #float
z = "omar" #string
w = [1,2,3,4] #list
a = {1,2,3,4,5,6,6,7} #set
b = ("omar",22,178) #tuple
c = {1} #set
d = True
person = {"name": "Omar", "age": 22, "city": "Cairo"}

print(type(x))
print(type(y))
print(type(z))
print(type(w))
print(type(a))
print(type(b))
print(type(person))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'set'>
<class 'tuple'>
<class 'dict'>

## 4. String Manipulation

In [48]:
# Slicing
string = "Amit Learning Amit"
print(e[0:3:1]) # start Index : End index : step size ( no of steps to jump, if 1 im not skipping anything) the end index is excluded meaning we stop right before the end index

# Replace
string2 = string.replace("Amit", "Python")

print(string)
print(string2)

# join
words = ["Python", "is", "cool"]
print(" ".join(words))
print("-".join(words))

# split
print(string.split())

Ami
Amit Learning Amit
Python Learning Python
Python is cool
Python-is-cool
['Amit', 'Learning', 'Amit']

## 5. List Manipulation

In [54]:
list_one = [1,2,3,4,"amit","learning",True,[1,2,3,"Ture",["m1","d1","ds"]]]

print(list_one)
print(type(list_one))
print(len(list_one))

print(list_one[7][1]) # Print data in that index

list_one[7][1] = 4 # Change Data in that index

print(list_one[7][1]) # Print data in that index to test change

print(list("amit")) # Use List Function to convert any datatype to list 

list_one.append("Machine Learning") # Add Machine Learning at the end 
print(list_one)
list_one.insert(1,"omar Gaber") # Add Item in position 1 (indexed insert)
print(list_one)

list_one.extend(["1.list_2","2. Testing"]) # Extend an array ontop of list_one. So list_one is now the combo between List_one and the extended list 
print(list_one)

list_one.remove("2. Testing") # Remove this specific element
print(list_one)

x = list_one.pop() # pop last element from list 

print(x) # Print popped element
print(list_one) # print final_list

[1, 2, 3, 4, 'amit', 'learning', True, [1, 2, 3, 'Ture', ['m1', 'd1', 'ds']]]
<class 'list'>
8
2
4
['a', 'm', 'i', 't']
[1, 2, 3, 4, 'amit', 'learning', True, [1, 4, 3, 'Ture', ['m1', 'd1', 'ds']], 'Machine Learning']
[1, 'omar Gaber', 2, 3, 4, 'amit', 'learning', True, [1, 4, 3, 'Ture', ['m1', 'd1', 'ds']], 'Machine Learning']
[1, 'omar Gaber', 2, 3, 4, 'amit', 'learning', True, [1, 4, 3, 'Ture', ['m1', 'd1', 'ds']], 'Machine Learning', '1.list_2', '2. Testing']
[1, 'omar Gaber', 2, 3, 4, 'amit', 'learning', True, [1, 4, 3, 'Ture', ['m1', 'd1', 'ds']], 'Machine Learning', '1.list_2']
1.list_2
[1, 'omar Gaber', 2, 3, 4, 'amit', 'learning', True, [1, 4, 3, 'Ture', ['m1', 'd1', 'ds']], 'Machine Learning']

## 6. Input Function + List Manipulation

In [ ]:
fruits = ["apple","banana","cherry","kiwi"] # Create an array 

selected_fruit = input("Please Eneter Fruit you want to remove") # Ask fro which fruit to delete

if (fruits.count(selected_fruit)): # check if the element exists before we delete it 
    fruits.remove(selected_fruit) # remove element from array
else: 
    print("Not in our list")
print(fruits)

Not in our list
['apple', 'banana', 'cherry', 'kiwi']

## 7. Tuple Manipulation

In [ ]:
tuple_one = (1,2,3,4,"amit","learning",True,(1,2,3,"Ture",("m1","d1","ds")))

print(tuple_one)
# tuple_one[0] = 1 , will cause an error as it's unchangable

list_two = list(tuple_one) # converted my tuple to a list now i can do list operations on it

print(list_two)

(1, 2, 3, 4, 'amit', 'learning', True, (1, 2, 3, 'Ture', ('m1', 'd1', 'ds')))
[1, 2, 3, 4, 'amit', 'learning', True, (1, 2, 3, 'Ture', ('m1', 'd1', 'ds'))]

## 8. Dictionary Manipulation

In [ ]:
dict_one = {"key1": 12.5, "key2":"value2", "key3":"python", 4:[1,2,3,4]} # dict of key value format
print(dict_one)

dict_one["key1"] = "Amit Learning" # Edit value of key1

print(dict_one)

key_value_list = [('a',1),('b',2)] # Create a key value format list and then transfer it into a dict datatype
print(dict(key_value_list))

{'key1': 12.5, 'key2': 'value2', 'key3': 'python', 4: [1, 2, 3, 4]}
{'key1': 'Amit Learning', 'key2': 'value2', 'key3': 'python', 4: [1, 2, 3, 4]}
1